body {
    background-color: yellow;
}
h1, h2 {
    text-align: center;
}
/* h1 {
    font-;
} */
h2 {
    color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-column-gap: 0px;
    grid-gap: 0;
    padding: 0;
    justify-content: center;
    margin: 0;
    background-color: yellow;
  }
  .square {
    grid-column-gap: 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
  }

  /* .reset {
      display: flex;
      align-items: center;
      text-align: center;
      height: 60px;
      width: 100px;
      border: 1px solid black;
      margin-left: auto;
      margin-right: auto;
      background-color: chartreuse;
      color: purple;
      font-size: 27px;
      border-radius: 20px;
  } */
  .resetButton {
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
    color: purple;
    font-size: 27px;
    border-radius: 20px;
}