body {
    background-color: yellow;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 50px;
    text-decoration: underline;
}
h2 {
    color: blue;
    font-size: 36px;
}

.grid-container {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    grid-column-gap: 0px;
    grid-gap: 0;
    padding: 0;
    justify-content: center;
    margin: 0;
    background-color: yellow;
  }
  .square {
    grid-column-gap: 0;
    background-color: white;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
  }
  .resetButton {
    display: flex;
    align-items: center;
    text-align: center;
    height: 90px;
    width: 160px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    background-color: rgb(241, 92, 12);
    color: yellowgreen;
    font-size: 45px;
    border-radius: 20px;
}